VITE_API_BASE_URL=http://127.0.0.1:8000/api
VITE_USE_MOCK_API=false
VITE_PBB_REPORT_API_BASE_URL=/api/GetLaporan
VITE_PBB_REPORT_API_KEY=PBB-LAPORAN-2026-7f4c9a2e8b6d1f3a5c0e
VITE_BPHTB_REPORT_API_BASE_URL=/api/GetLaporanBPHTB
VITE_BPHTB_REPORT_API_KEY=64863e6c27e99aa36136be012c8608c7299ebc93

